files:
    "/etc/cron.d/mentis-crons":
        mode: "000644"
        owner: root
        group: root
        content: |

            0 7 * * * root curl http://mentis.myfenero.ie/cronejob/visaExpiryNotification/SALOE
            0 8 * * * root curl http://mentis.myfenero.ie/cronejob/cxdocsReminder/SALOE
            0 9 * * * root curl http://mentis.myfenero.ie/cronejob/cxdocsReminderManager/SALOE
            0 6 * * * root curl http://mentis.myfenero.ie/cronejob/plcRecurringPayment/SALOE
            */25 * * * * root curl http://mentis.myfenero.ie/cronejob/xeroInvoiceCreate/SALOE
            0 8 * * * root curl http://mentis.myfenero.ie/cronejob/invoiceTimesheetReminder/SALOE
            0 8 * * * root curl http://mentis.myfenero.ie/cronejob/invoiceTimesheetReminderDeadLine/SALOE
            

            

commands:
    remove_old_cron:
        command: "sudo rm -f /etc/cron.d/mentis-crons.bak"
        