files:
    "/etc/cron.d/logs3cron":
        mode: "000644"
        owner: root
        group: root
        content: |

            * * * * * root /usr/local/bin/logs3script.sh

    "/usr/local/bin/logs3script.sh":
        mode: "000755"
        owner: root
        group: root
        content: |

            curl http://mentis.myfenero.ie/document/uploadLogfiletoS3

            

commands:
    remove_old_cron:
        command: "sudo rm -f /etc/cron.d/logs3cron.bak"
        